

@import "sassbootstrap/bootstrap.scss";


body {

    background-color: #F2EDDB;
}


.pp{
    width:30%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    margin-left: 20%;
}

.border1{
    padding-top: 5%;
    border-top-style: solid;
    border-width: 2px;
}

.logobull{

width: 15%;

}

